.how{
    width: 100%;
    &__body{
        display: flex;
        flex-direction: column;
        gap: 80px;

        &-top {
            width: 100%;
            background: #F5F8FB;

            &-wrap {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 64px;
                overflow: hidden;
                padding: 92px 0;

                &-ellipse {
                    width: 501.43px;
                    height: 501.43px;
                    border-radius: 50%;
                    background: linear-gradient(75.52deg, rgba(229, 242, 255, 0.184314) 15.64%, #E5F2FF 89.71%);
                    position: absolute;
                    bottom: -167px;
                    right: 0;
                    z-index: 2;
                }

                img {
                    width: 733px;
                    height: 321px;
                    position: absolute;
                    bottom: 0;
                    right: 40px;
                }
                .how__dif-img{
                    width: 513px;
                    height: 321px;
                    bottom: 0;
                    right: 40px;
                    z-index: 2;
                }
                &-bread {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;
                        color: #333333;
                    }
                }

                h1 {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 56px;
                    text-align: left;
                    color: #333333;
                }
            }
        }
        &-letter{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
            &-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 1290px;
                border-radius: 32px;
                height: 511px;
                background: #F5F8FB;
                img{
                    height: 100%;
                    width: 640px;
                }
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    max-width: 554px;
                    padding-left: 48px;
                    &-element{
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        span{
                            font-size: 32px;
                            font-weight: 700;
                            line-height: 48px;
                            text-align: left;
                            color: #333333;
                        }
                        p{
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 26px;
                            text-align: left;
                            color: #555;
                        }
                    }
                    &-element:nth-child(2){
                        span{
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 32px;
                            text-align: left;
                            color: #333333;
                        }
                    }
                }
            }
            &-item:nth-child(2n){
                .how__body-letter-item-text{
                    padding-left: 0;
                    padding-right: 48px;
                }
            }
            &-item:nth-child(1){
                background: #E5F2FF;
            }
        }
        &-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            &-definition{
                width: 100%;
                padding: 48px;
                background: #F5F8FB;
                border-radius: 32px;
                p{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    span{
                        font-weight: 600;
                    }
                }
            }
            &-simple{
                padding: 48px;
                width: 100%;
                background: #F5F8FB;
                display: flex;
                flex-direction: column;
                gap: 24px;
                border-radius: 32px;
                &-name{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                    text-align: left;
                    color: #555;
                }
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    span{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                        color: #555;
                    }
                    p{
                        padding: 16px 24px;
                        background: #E4EDF5;
                        border-radius: 12px;
                        //styleName: Txt/16 r;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                        color: #555;
                    }
                }
            }
            &-withimg{
                padding: 48px;
                width: 100%;
                background: #F5F8FB;
                display: flex;
                gap: 48px;
                border-radius: 32px;
                &-info{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    &-name{
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;
                        text-align: left;
                        color: #555;
                    }
                    &-text{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        span{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: left;
                            color: #555;
                        }
                        p{
                            padding: 16px 24px;
                            background: #E4EDF5;
                            border-radius: 12px;
                            //styleName: Txt/16 r;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            text-align: left;
                            color: #555;
                        }
                    }
                }
                img{
                    width: 582px;
                    height: 348px;
                }
            }
        }
    }
}