.product{
    width: 100%;
    margin-top: 160px;
    &__body{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        &-item{
            background: #F5F8FB;
            border-radius: 32px;
            position: relative;
            padding: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 630px;
            height: 254px;
            &-text{
                display: flex;
                flex-direction: column;
                gap: 24px;
                span{
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 600;
                    color: #333;
                    text-align: left;
                }
                p{
                    font-size: 18px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #555;
                    text-align: left;
                }
            }
            svg{
                width: 72px;
                height: 72px;
                position: absolute;
                bottom: 8px;
                right: 8px;
            }
            &-date{
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                color: #555;
                text-align: left;
            }
        }
    }
}