<section class="advantages">
    <div class="container">
        <div class="advantages__body">
            <h2 class="advantages__body-title">
                Преимущества
            </h2>
            <div class="advantages__body-block">
                <div class="advantages__body-block-item">
                    <div class="advantages__body-block-item-text">
                        <span>Доставка от двери до двери</span>
                        <p>Воспользуйтесь услугой забора посылок и заберите свою посылку из дома, офиса или любого другого удобного вам места!</p>
                    </div>
                    <img src="../images/dist/adv/1.png" alt="">
                </div>
                <div class="advantages__body-block-item">
                    <div class="advantages__body-block-item-text">
                        <span>Быстро и экономно</span>
                        <p>Но граница обучения кадров требует анализа системы массового участия. С другой.</p>
                    </div>
                    <img src="../images/dist/adv/2.png" alt="">
                </div>
                <div class="advantages__body-block-item">
                    <div class="advantages__body-block-item-text">
                        <span>Доставка от двери до двери</span>
                        <p>Воспользуйтесь услугой забора посылок и заберите свою посылку из дома, офиса или любого другого удобного вам места!</p>
                    </div>
                    <img src="../images/dist/adv/3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>