<section class="article">
    <div class="container">
        <div class="article__body">
            <div class="article__body-bread">
                <span>Главная</span>
                <span>/</span>
                <span>Статьи</span>
                <span>/</span>
                <span>Ценная бандероль - правила отправки</span>
            </div>
            <div class="article__body-block">
                <div class="article__body-block-nav">
                    <span>Содержание:</span>
                    <div class="article__body-block-nav-list">
                        <a href="">Что нельзя отправлять международной посылкой</a>
                        <a href="">Требования для международных посылок</a>
                    </div>
                </div>
                <div class="article__body-block-main">
                    <h1 class="article__body-block-main-title">
                        Отправка международных посылок почтой России
                    </h1>
                    <div class="article__body-block-main-item">
                        <span>Что нельзя отправлять международной посылкой</span>
                        <div class="article__body-block-main-item-text">
                            <p>
                                В марте 2024 года вступили в силу изменения в закон, которым регулируются правила
                                отправки международных отправлений за границу:
                            </p>
                            <ul>
                                <li>введены ограничения на вывоз из России товаров, подпадающих под санкционные списки,
                                    а именно высокотехнологичное и медицинское оборудование, сельхозтехника, некоторые
                                    виды электроники и продукция, относящаяся к категории военно-промышленного
                                    комплекса;</li>
                                <li>ужесточены требования к оформлению таможенных деклараций с целью исключения
                                    возможности вывоза товаров, подпадающих под экспортный контроль;</li>
                                <li>добавлены требования по предоставлению дополнительных документов, которые
                                    подтверждают законность отправки за пределы Российской Федерации культурных
                                    ценностей, раритетных изданий и предметов, требующих специального разрешения.</li>
                            </ul>
                            <p>
                                Эти меры направлены на то, чтобы предотвратить нелегальный вывоз из страны стратегически
                                важных товаров.
                            </p>
                        </div>
                    </div>
                    <img src="../images/dist/art.png" alt="">
                    <div class="article__body-block-main-item">
                        <span>Требования для международных посылок</span>
                        <div class="article__body-block-main-item-text">
                            <p>
                                Для отслеживания статуса и последней точки нахождения международного отправления введите
                                трек-номер письма или посылки на сайте или в мобильном приложении службы доставки. О
                                прибытии в пункт назначения адресат узнает из смс-сообщения, отправленного на указанный
                                в документах номер телефона. <br><br>
                                Если вы юридическое лицо, доверьте международную доставку посылок и документов
                                агрегатору курьерской доставки TOP Express! На нашем сайте собраны лучшие курьерские
                                службы в одном месте, отправка происходит по цене оператора! Вам не нужно разбираться в
                                тонкостях почтовых уведомлений, все заботы мы берем на себя.
                            </p>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="article__body-block-main-dif">
                        <span>Похожие статьи</span>
                        <div class="article__body-block-main-dif-items">
                            <a href="">
                                Отправка международных посылок почтой России
                            </a>
                            <a href="">
                                Предпочтовая подготовка почты России
                            </a>
                            <a href="">
                                Первый класс отправление почтой
                            </a>
                            <a href="">
                                Правила оформления МПО
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>