<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
        <link href="
        https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
        " rel="stylesheet">
        <link rel="stylesheet" href="../scss/style.min.css">
    <title>Курьерский портал</title>
</head>

<body>
    <header class="header tr">
        <div class="container">
            <div class="header__body">
                <a href="" class="header__body-logo">
                    <img src="../images/dist/logo.png" alt="">                  
                </a>
                <button class="header__body-choose">
                    <svg class="dopen" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 2C0 0.895431 0.895431 0 2 0H6C7.10457 0 8 0.895431 8 2V6C8 7.10457 7.10457 8 6 8H2C0.895431 8 0 7.10457 0 6V2Z" fill="#007AFF"/>
                        <path d="M10 2C10 0.895431 10.8954 0 12 0H16C17.1046 0 18 0.895431 18 2V6C18 7.10457 17.1046 8 16 8H12C10.8954 8 10 7.10457 10 6V2Z" fill="#007AFF"/>
                        <path d="M10 12C10 10.8954 10.8954 10 12 10H16C17.1046 10 18 10.8954 18 12V16C18 17.1046 17.1046 18 16 18H12C10.8954 18 10 17.1046 10 16V12Z" fill="#007AFF"/>
                        <path d="M0 12C0 10.8954 0.895431 10 2 10H6C7.10457 10 8 10.8954 8 12V16C8 17.1046 7.10457 18 6 18H2C0.895431 18 0 17.1046 0 16V12Z" fill="#007AFF"/>
                    </svg>
                    <svg class="open" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3L15 15" stroke="#007AFF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15 3L3 15" stroke="#007AFF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                    <span>Все разделы</span>                    
                </button>
            </div>
            
        </div>
        <div class="header__menu">
            <div class="container">
                <nav class="header__menu-body">
                    <ul class="header__menu-body-list">
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/1.png" alt="">
                                <span>Рассчет посылки</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/2.png" alt="">
                                <span>Отправка писем</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/3.png" alt="">
                                <span>Узнать почтовые индексы</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/4.png" alt="">
                                <span>Статистика сроков доставки</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/5.png" alt="">
                                <span>Статьи</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/6.png" alt="">
                                <span>FAQ</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="header__menu-body-list">
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/7.png" alt="">
                                <span>Службы доставки</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/8.png" alt="">
                                <span>Расшифровка статусов</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/9.png" alt="">
                                <span>Как улучшить управление доставкой?</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/10.png" alt="">
                                <span>Мобильные приложения</span>
                            </a>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="">
                                <img src="../images/dist/meu/11.png" alt="">
                                <span>Улучшение процессов доставки</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="box">
        <div class="box__body">
            <div class="box__body-top">
                <div class="container">
                    <div class="box__body-top-wrap">
                        <div class="box__body-top-wrap-ellipse"></div>
                        <img src="../images/dist/box.png" alt="">
                        <div class="box__body-top-wrap-bread">
                            <span>Главная</span>
                            <span>/</span>
                            <span>Виды упаковки</span>
                        </div>
                        <h1>Виды <br>упаковки</h1>
                    </div>
                </div>
                
                
            </div>
            <div class="container">
                <div class="box__body-bot">
                    <div class="box__body-bot-item">
                        <img src="../images/dist/box/1.png" alt="">
                        <div class="box__body-bot-item-info">
                            <span class="box__body-bot-item-info-name">
                                Пакет
                            </span>
                            <div class="box__body-bot-item-info-attr">
                                <div>
                                    <span>Размер</span>
                                    <p>15х12х12</p>
                                </div>
                                <div>
                                    <span>Вес</span>
                                    <p>15х12х12</p>
                                </div>
                            </div>
                            <p class="box__body-bot-item-info-desc">
                                В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.
                            </p>
                        </div>
                    </div>
                    <div class="box__body-bot-item">
                        <img src="../images/dist/box/2.png" alt="">
                        <div class="box__body-bot-item-info">
                            <span class="box__body-bot-item-info-name">
                                Коробка S
                            </span>
                            <div class="box__body-bot-item-info-attr">
                                <div>
                                    <span>Размер</span>
                                    <p>15х12х12</p>
                                </div>
                                <div>
                                    <span>Вес</span>
                                    <p>15х12х12</p>
                                </div>
                            </div>
                            <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                        </div>
                    </div>
                    <div class="box__body-bot-item">
                        <img src="../images/dist/box/3.png" alt="">
                        <div class="box__body-bot-item-info">
                            <span class="box__body-bot-item-info-name">
                                Пакет
                            </span>
                            <div class="box__body-bot-item-info-attr">
                                <div>
                                    <span>Размер</span>
                                    <p>15х12х12</p>
                                </div>
                                <div>
                                    <span>Вес</span>
                                    <p>15х12х12</p>
                                </div>
                            </div>
                            <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                        </div>
                    </div>
                    <div class="box__body-bot-item">
                        <img src="../images/dist/box/4.png" alt="">
                        <div class="box__body-bot-item-info">
                            <span class="box__body-bot-item-info-name">
                                Пакет
                            </span>
                            <div class="box__body-bot-item-info-attr">
                                <div>
                                    <span>Размер</span>
                                    <p>15х12х12</p>
                                </div>
                                <div>
                                    <span>Вес</span>
                                    <p>15х12х12</p>
                                </div>
                            </div>
                            <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                        </div>
                    </div>
                    <div class="box__body-bot-item">
                        <img src="../images/dist/box/5.png" alt="">
                        <div class="box__body-bot-item-info">
                            <span class="box__body-bot-item-info-name">
                                Пакет
                            </span>
                            <div class="box__body-bot-item-info-attr">
                                <div>
                                    <span>Размер</span>
                                    <p>15х12х12</p>
                                </div>
                                <div>
                                    <span>Вес</span>
                                    <p>15х12х12</p>
                                </div>
                            </div>
                            <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <a href="" class="footer__body-logo">
                    <img src="../images/dist/logo.png" alt="">
                </a>
                <ul class="footer__body-menu">
                    <ul class="footer__body-menu-list">
                        <li>
                            <a href="">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Статистика сроков доставки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Статьи
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Службы доставки
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Расшифровка статусов
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </footer>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../js/main.min.js"></script>
</body>

</html>