<section class="catalog">
    <div class="container">
        <div class="catalog__body">
            <div class="catalog__body-bread">
                <span>Главная</span>
                <span>/</span>
                <span>Каталог</span>
            </div>
            <div class="catalog__body-choose">
                <div class="catalog__body-choose-top">
                    <h1>Каталог курьерских и логистических компаний</h1>
                    <div class="catalog__body-choose-top-search">
                        <input placeholder="Поиск по компаниям" type="text">
                        <button>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 4C15.6423 4 19 7.35751 19 11.4996C19 15.6417 15.6423 19 11.5 19C7.3577 19 4 15.6417 4 11.4996C4 7.35751 7.3577 4 11.5 4Z" stroke="#555555" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.3613 17.584L20.7863 21.0002" stroke="#555555" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="catalog__body-choose-bot">
                    <div class="catalog__body-choose-bot-filter">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.1375 12.2068L17.0337 15.103L14.1375 18M4.96875 15.103H17.0354" stroke="#555555" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.86511 9.7931L4.96897 6.89701L7.86511 4M17.0334 6.89683H4.9668" stroke="#555555" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>A-я</span>                            
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        A
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        B
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        C
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        D
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        E
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        F
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        G
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        H
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        I
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        J
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        K
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        L
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        M
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        N
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        O
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        P
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        Q
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        R
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        S
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        T
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        U
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        V
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        W
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        X
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        Y
                    </div>
                    <div class="catalog__body-choose-bot-item">
                        Z
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="catalog__body-bot">
                <div class="catalog__body-bot-item">
                    <span>Aliexpress Standard Shipping</span>
                    <p>Нова пошта — сервис экспресс-доставки документов, грузов и посылок для физических лиц и бизнеса</p>
                    <img src="../images/dist/catalog/1.png" alt="">
                </div>
                <div class="catalog__body-bot-item">
                    <span>Почта Нидерландов</span>
                    <p>Голландская почтовая служба</p>
                    <img src="../images/dist/catalog/2.png" alt="">
                </div>
                <div class="catalog__body-bot-item">
                    <span>Почта России</span>
                    <p>Pochta Ru Russian Post</p>
                    <img src="../images/dist/catalog/3.png" alt="">
                </div>
                <div class="catalog__body-bot-item">
                    <span>Почта Китая</span>
                    <p>Государственная почта Китая (ChinaPost)</p>
                    <img src="../images/dist/catalog/4.png" alt="">
                </div>
                <div class="catalog__body-bot-item">
                    <span>СДЭК Логистические решения</span>
                    <p>SDEK транспортная компания</p>
                    <img src="../images/dist/catalog/5.png" alt="">
                </div>
                <div class="catalog__body-bot-item">
                    <span>Почта России</span>
                    <p>Pochta Ru Russian Post</p>
                    <img src="../images/dist/catalog/6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>