<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <a href="" class="footer__body-logo">
                <img src="../images/dist/logo.png" alt="">
            </a>
            <ul class="footer__body-menu">
                <ul class="footer__body-menu-list">
                    <li>
                        <a href="">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Статистика сроков доставки
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Статьи
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Службы доставки
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Расшифровка статусов
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</footer>