<footer class="footer__main">
    <div class="container">
        <div class="footer__main-body">
            <div class="footer__main-body-top">
                <a href="" class="footer__main-body-top-logo">
                    <img src="../images/dist/logo.png" alt="">
                </a>
                <nav class="footer__main-body-top-nav">
                    <ul class="footer__main-body-top-nav-menu">
                        <span>О сервисе</span>
                        <li>
                            <a href="">Способы оплаты</a>
                        </li>
                        <li>
                            <a href="">Тарифы</a>
                        </li>
                    </ul>
                    <ul class="footer__main-body-top-nav-menu">
                        <span>Документы</span>
                        <li>
                            <a href="">Обработка персональных данных</a>
                        </li>
                        <li>
                            <a href="">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a href="">Правила пользования сервисом</a>
                        </li>
                    </ul>
                    <ul class="footer__main-body-top-nav-menu">
                        <span>Контактный телефон</span>
                        <a class="tel" href="">8(495)128-26-55</a>
                    </ul>
                </nav>
            </div>
            <div class="footer__main-body-bot">
                <div class="line"></div>
                <p>Услуга предоставляется на платной основе. При оплате через мобильного оператора стоимость составляет 30р/сутки. При оплате через UnitPay услуга составляет 399р на 14 дней. Подробнее об условиях пользования сервисом смотрите в Пользовательском соглашении. Отключение услуги и возврат средств осуществляется через Службу поддержки support@hphelp.me | www.hphelp.me</p>
                <p>©2021 Все права защищены</p>
            </div>
        </div>
    </div>
</footer>