<section class="how">
    <div class="how__body">
        <div class="how__body-top">
            <div class="container">
                <div class="how__body-top-wrap">
                    <div class="how__body-top-wrap-ellipse"></div>
                    <img src="../images/dist/letter.png" alt="">
                    <div class="how__body-top-wrap-bread">
                        <span>Главная</span>
                        <span>/</span>
                        <span>Виды упаковки</span>
                    </div>
                    <h1>Как отправить <br>письмо</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="how__body-letter">
                <div class="how__body-letter-item">
                    <div class="how__body-letter-item-text">
                        <div class="how__body-letter-item-text-element">
                            <span>Как отправить письмо</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                        <div class="how__body-letter-item-text-element">
                            <span>Доставка писем с курьерским порталом</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                    </div>
                    <img src="../images/dist/letter/1.png" alt="">
                </div>
                <div class="how__body-letter-item">
                    
                    <img src="../images/dist/letter/2.png" alt="">
                    <div class="how__body-letter-item-text">
                        <div class="how__body-letter-item-text-element">
                            <span>Отправка писем Почтой России</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                        <div class="how__body-letter-item-text-element">
                            <span>Доставка писем с Почтой России</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                    </div>
                </div>
                <div class="how__body-letter-item">
                    <div class="how__body-letter-item-text">
                        <div class="how__body-letter-item-text-element">
                            <span>Как отправить СДЕКом</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                        <div class="how__body-letter-item-text-element">
                            <span>Как отправить СДЕКом</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                    </div>
                    <img src="../images/dist/letter/3.png" alt="">
                </div>
                <div class="how__body-letter-item">
                    
                    <img src="../images/dist/letter/4.png" alt="">
                    <div class="how__body-letter-item-text">
                        <div class="how__body-letter-item-text-element">
                            <span>Отправка писем Pony Express</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                        <div class="how__body-letter-item-text-element">
                            <span>Отправка писем Pony Express</span>
                            <p>Таким образом, глубокий уровень погружения позволяет выполнить важные задания по разработке соответствующих условий активизации. Идейные соображения высшего порядка, а также перспективное планирование позволяет выполнить важные задания по разработке форм воздействия. </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>