<section class="items">
    <div class="container">
        <div class="items__body">
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>
                        Виды <br>упаковки
                    </span>
                    <p>
                        Современные <br> технологии достигли <br> такого уровня, что
                    </p>
                </div>
                <img src="../images/dist/item/1.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>Отправка писем</span>
                    <p>
                        Принимая во внимание показатели успешности, новая <br> модель организационной.
                    </p>
                </div>
                <img src="../images/dist/item/2.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>Статистика сроков доставки</span>
                    <p>Мы вынуждены отталкиваться от того, что <br> начало повседневной работы по.</p>
                </div>
                <img src="../images/dist/item/3.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>Виды доставки</span>
                    <p>Для современного мира внедрение <br> современных методик требует.</p>
                </div>
                <img src="../images/dist/item/4.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>Узнать почтовые индексы</span>
                    <p>Принимая во внимание показатели успешности, новая <br> модель организационной.</p>
                </div>
                <img src="../images/dist/item/5.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>
                        Расшифровка <br>статусов
                    </span>
                    <p>Современные технологии достигли такого уровня, что </p>
                </div>
                <img src="../images/dist/item/6.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>FAQ</span>
                    <p>
                        Мы вынуждены отталкиваться от того, что <br> начало повседневной работы по.
                    </p>
                </div>
                <img src="../images/dist/item/7.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>Службы доставки</span>
                    <p>Для современного мира внедрение <br> современных методик требует.</p>
                </div>
                <img src="../images/dist/item/8.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>
                        Как улучшить <br> управление <br> доставкой?
                    </span>
                    <p>Современные техно</p>
                </div>
                <img src="../images/dist/item/9.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>
                        Мобильные <br>приложения
                    </span>
                    <p>Современные <br> технологии достигли <br> такого уровня, что </p>
                </div>
                <img src="../images/dist/item/10.png" alt="">
            </div>
            <div class="items__body-item">
                <div class="items__body-item-text">
                    <span>Улучшение <br> процессов <br> доставки</span>
                    <p>Современные </p>
                </div>
                <img src="../images/dist/item/11.png" alt="">
            </div>
        </div>
    </div>
</section>