<section class="main__services">
    <div class="container">
        <div class="main__services-body">
            <h2 class="main__services-body-title">
                Почтовые службы:
            </h2>
            <div class="main__services-body-block">
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/1.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/2.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/3.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/4.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/5.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/6.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/7.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/8.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/9.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/10.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/11.png" alt="">
                </div>
                <div class="main__services-body-block-item">
                    <img src="../images/dist/ms/12.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>