<section class="question">
    <div class="container">
        <div class="question__body">
            <h2 class="question__body-title">
                Вопросы и ответы
            </h2>
            <div class="question__body-block">
                <div class="question__body-block-list">
                    <span class="question__body-block-list-item active">
                        Что такое трек-код?
                    </span>
                    <span class="question__body-block-list-item">
                        Варианты обозначения типа отправления
                    </span>
                    <span class="question__body-block-list-item">
                        Почему не отображается информацию по трек коду?
                    </span>
                    <span class="question__body-block-list-item">
                        Что делать, если посылка не отслеживается или идет слишком долго?
                    </span>
                    <span class="question__body-block-list-item">
                        Для чего нужна регистрация?
                    </span>
                    <span class="question__body-block-list-item">
                        Что означает “Трек-код добавлен“?
                    </span>
                </div>
                <div class="question__body-block-answer">
                    <p class="question__body-block-answer-item">
                        Трек-код (почтовый идентификатор) — уникальный код, позволяющий следить за перемещением
                        почтового отправления.
                        <br><br>
                        По регламенту “Международного Почтового Союза“, почтовый идентификатор (трек-код) состоит из 13
                        символов, и включает в себя 2 латинские буквы в начале, первая из которых служит как индикатор
                        типа отправления, Вторая буква служит для обозначения типа отправки, например: авиа, море, ж/д,
                        9 цифр посередине (первые 8 цифр это уникальный код почтового отправления, а девятая цифра
                        является контрольной суммой рассчитываемой по специальному алгоритму) и 2 латинские буквы в
                        конце идентификатора указывающих страну отправителя.
                    </p>
                    <p class="question__body-block-answer-item ds">
                        Второй текст для примера
                    </p>
                    <p class="question__body-block-answer-item ds">
                        Третий текст для примера
                    </p>
                    <p class="question__body-block-answer-item ds">
                        Четрвертый текст для примера
                    </p>
                    <p class="question__body-block-answer-item ds">
                        Пятый текст для примера
                    </p>
                    <p class="question__body-block-answer-item ds">
                        Шестой текст для примера
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>