<section class="review">
    <div class="container">
        <div class="review__body">
            <div class="review__body-top">
                <h2 class="review__body-top-title">
                    Отзывы пользователей
                </h2>
                <span class="of">1/4</span>
            </div>
            <div id="rev" class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#555555" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#555555" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide review__body-slide">
                            <div class="review__body-slide-top">
                                <div class="review__body-slide-top-star">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                </div>
                                <div class="review__body-slide-top-text">
                                    <span>Задача организации, в особенности же дальнейшее развитие</span>
                                    <p>Господа, высококачественный прототип будущего проекта предоставляет широкие возможности для кластеризации усилий. Как принято считать, сторонники тоталитаризма в науке могут быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.</p>
                                </div>
                            </div>
                            <div class="review__body-slide-user">
                                <img src="../images/dist/rev/1.png" alt="">
                                <span>Олег</span>
                            </div>
                        </li>
                        <li class="splide__slide review__body-slide">
                            <div class="review__body-slide-top">
                                <div class="review__body-slide-top-star">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                </div>
                                <div class="review__body-slide-top-text">
                                    <span>Сложно сказать, почему сделанные</span>
                                    <p>Господа, высококачественный прототип будущего проекта предоставляет широкие возможности для кластеризации усилий. Как принято считать, сторонники тоталитаризма в науке могут быть превращены.</p>
                                </div>
                            </div>
                            <div class="review__body-slide-user">
                                <img src="../images/dist/rev/2.png" alt="">
                                <span>Игорь</span>
                            </div>
                        </li>
                        <li class="splide__slide review__body-slide">
                            <div class="review__body-slide-top">
                                <div class="review__body-slide-top-star">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                </div>
                                <div class="review__body-slide-top-text">
                                    <span>Не следует, однако, забывать, что современная методология.</span>
                                    <p>Но явные признаки победы институционализации смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Приятно, граждане, наблюдать, как независимые государства и по сей день.</p>
                                </div>
                            </div>
                            <div class="review__body-slide-user">
                                <img src="../images/dist/rev/1.png" alt="">
                                <span>Галина</span>
                            </div>
                        </li>
                        <li class="splide__slide review__body-slide">
                            <div class="review__body-slide-top">
                                <div class="review__body-slide-top-star">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                    <img src="../images/dist/star.png" alt="">
                                </div>
                                <div class="review__body-slide-top-text">
                                    <span>Сложно сказать, почему сделанные</span>
                                    <p>Господа, высококачественный прототип будущего проекта предоставляет широкие возможности для кластеризации усилий. Как принято считать, сторонники тоталитаризма в науке могут быть превращены.</p>
                                </div>
                            </div>
                            <div class="review__body-slide-user">
                                <img src="../images/dist/rev/2.png" alt="">
                                <span>Игорь</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>