<section class="soft">
    <div class="container">
        <div class="soft__body">
            <div class="soft__body-items">
                <div class="soft__body-items-item">
                    <div class="soft__body-items-item-text">
                        <span>Онлайн отслеживание почтовых направлений</span>
                        <p>Более 1000 международных почтовых и курьерских служб</p>
                    </div>
                    <img src="../images/dist/soft/1.png" alt="">
                </div>
                <div class="soft__body-items-item">
                    <div class="soft__body-items-item-text">
                        <span>Точность отслеживания</span>
                        <p>Самое точное отслеживание международных посылок по трек номеру</p>
                    </div>
                    <img src="../images/dist/soft/2.png" alt="">
                </div>
            </div>
            <div class="soft__body-item">
                <div class="soft__body-item-text">
                    <span>Отследить посылку</span>
                    <p>Почта России, Aлиэкспресс, СДЭК, Деловые Линии, China Post, Boxberry, DPD, Joom, DHL, UPS, TNT и других</p>
                </div>
                <img src="../images/dist/soft/3.png" alt="">
            </div>
        </div>
    </div>
</section>