<section class="status">
    <div class="container">
        <div class="status__body">
            <div class="status__body-bread">
                <span>Главная</span>
                <span>/</span>
                <span>Расшифровка статусов</span>
            </div>
            <h1 class="status__body-title">
                Расшифровка статусов международных почтовых отправлений
            </h1>
            <div class="line"></div>
            <div class="status__body-block">
                <div class="status__body-block-items">
                    <div class="status__body-block-items-item">
                        <span class="status__body-block-items-item-name">
                            Прибытие
                        </span>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Почтовое отправление зарегистрировано</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Прибыло</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Прибыло в аэропорт</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Прибыло в аэропорт страны назначения</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Прибыло в международный сортировочный центр</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                    </div>
                    <div class="status__body-block-items-item">
                        <span class="status__body-block-items-item-name">
                            Еще категория
                        </span>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Отмена отгрузки</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Отправка на терминал</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Отправление готово к отправке</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                        <div class="status__body-block-items-item-element">
                            <div class="status__body-block-items-item-element-top">
                                <span>Отправлено</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p class="status__body-block-items-item-element-bot">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                                adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut
                                ipsum quod reiciendis quia fugiat totam!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="status__body-block-item">
                    <span class="status__body-block-item-name">
                        Отправка и ожидание
                    </span>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Обработка</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                            adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut ipsum
                            quod reiciendis quia fugiat totam!
                        </p>
                    </div>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Обработка в промежуточном пункте</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                            adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut ipsum
                            quod reiciendis quia fugiat totam!
                        </p>
                    </div>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Обработка в сортировочном центре</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                            adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut ipsum
                            quod reiciendis quia fugiat totam!
                        </p>
                    </div>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Обработка завершена</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                            adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut ipsum
                            quod reiciendis quia fugiat totam!
                        </p>
                    </div>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Ожидает адресата в месте вручения</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Означает прибытие отправления в отделение почтовой связи (ОПС) получателя, которое должно
                            произвести вручение отправления получателю. Как только отправление прибыло в отделение,
                            сотрудники выписывают извещение (уведомление) о том, что отправление находится в отделении.
                            Извещение отдают почтальону в доставку. Доставка осуществляется в день прибытия отправления
                            в отделение или на следующий день (например, если отправления поступили в отделение
                            вечером). <br><br>Данный статус указывает на то, что получатель может самостоятельно
                            обратиться в
                            почтовое отделение связи для получения отправления не дожидаясь извещения. <br><br>Если
                            посылка
                            была переупакованна в пакет с другими посылками, то для возможности получения Вам необходимо
                            узнать трек-код общей посылки.
                        </p>
                    </div>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Ожидает доставки в почтовое отделение</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                            adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut ipsum
                            quod reiciendis quia fugiat totam!
                        </p>
                    </div>
                    <div class="status__body-block-item-element">
                        <div class="status__body-block-item-element-top">
                            <span>Ожидает отправки в международный сортировочный центр</span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12 16L5 9" stroke="#555555" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <p class="status__body-block-item-element-bot">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident esse repellendus
                            adipisci veniam ea ad nihil velit, commodi, voluptas, non molestias magnam omnis aut ipsum
                            quod reiciendis quia fugiat totam!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>