<section class="box">
    <div class="box__body">
        <div class="box__body-top">
            <div class="container">
                <div class="box__body-top-wrap">
                    <div class="box__body-top-wrap-ellipse"></div>
                    <img src="../images/dist/box.png" alt="">
                    <div class="box__body-top-wrap-bread">
                        <span>Главная</span>
                        <span>/</span>
                        <span>Виды упаковки</span>
                    </div>
                    <h1>Виды <br>упаковки</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box__body-bot">
                <div class="box__body-bot-item">
                    <img src="../images/dist/box/1.png" alt="">
                    <div class="box__body-bot-item-info">
                        <span class="box__body-bot-item-info-name">
                            Пакет
                        </span>
                        <div class="box__body-bot-item-info-attr">
                            <div>
                                <span>Размер</span>
                                <p>15х12х12</p>
                            </div>
                            <div>
                                <span>Вес</span>
                                <p>15х12х12</p>
                            </div>
                        </div>
                        <p class="box__body-bot-item-info-desc">
                            В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.
                        </p>
                    </div>
                </div>
                <div class="box__body-bot-item">
                    <img src="../images/dist/box/2.png" alt="">
                    <div class="box__body-bot-item-info">
                        <span class="box__body-bot-item-info-name">
                            Коробка S
                        </span>
                        <div class="box__body-bot-item-info-attr">
                            <div>
                                <span>Размер</span>
                                <p>15х12х12</p>
                            </div>
                            <div>
                                <span>Вес</span>
                                <p>15х12х12</p>
                            </div>
                        </div>
                        <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                    </div>
                </div>
                <div class="box__body-bot-item">
                    <img src="../images/dist/box/3.png" alt="">
                    <div class="box__body-bot-item-info">
                        <span class="box__body-bot-item-info-name">
                            Пакет
                        </span>
                        <div class="box__body-bot-item-info-attr">
                            <div>
                                <span>Размер</span>
                                <p>15х12х12</p>
                            </div>
                            <div>
                                <span>Вес</span>
                                <p>15х12х12</p>
                            </div>
                        </div>
                        <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                    </div>
                </div>
                <div class="box__body-bot-item">
                    <img src="../images/dist/box/4.png" alt="">
                    <div class="box__body-bot-item-info">
                        <span class="box__body-bot-item-info-name">
                            Пакет
                        </span>
                        <div class="box__body-bot-item-info-attr">
                            <div>
                                <span>Размер</span>
                                <p>15х12х12</p>
                            </div>
                            <div>
                                <span>Вес</span>
                                <p>15х12х12</p>
                            </div>
                        </div>
                        <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                    </div>
                </div>
                <div class="box__body-bot-item">
                    <img src="../images/dist/box/5.png" alt="">
                    <div class="box__body-bot-item-info">
                        <span class="box__body-bot-item-info-name">
                            Пакет
                        </span>
                        <div class="box__body-bot-item-info-attr">
                            <div>
                                <span>Размер</span>
                                <p>15х12х12</p>
                            </div>
                            <div>
                                <span>Вес</span>
                                <p>15х12х12</p>
                            </div>
                        </div>
                        <p class="box__body-bot-item-info-desc">В своём стремлении повысить качество жизни, они забывают, что социально-экономическое развитие прекрасно подходит для реализации как самодостаточных, так и внешне зависимых концептуальных решений. Противоположная точка зрения подразумевает, что диаграммы связей, инициированные исключительно.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>