<section class="watch">
    <div class="container">
        <div class="watch__body">
            <div class="watch__body-text">
                <h1 class="watch__body-text-title">
                    Отследить посылку по номеру (треку)
                </h1>
                <div class="watch__body-text-search">
                    <input placeholder="Введите номер посылки" type="text">
                    <button>
                        Начать поиск
                    </button>
                </div>
            </div>
            <img src="../images/dist/watch.png" alt="">
        </div>
    </div>
</section>